:root {
  --espacio-foto-perfil-mini: 50vw;
  --espacio-foto-perfil-max: 15vw;
}
.portada {
  padding: 50px;
  background-image: url(../IMG/otros/portada.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.lenguajes {
  width: 25%;
  position: absolute;
  bottom: 0;
}
.perfil {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  gap: 10px;
}
.foto-curriculum {
  width: var(--espacio-foto-perfil-max);
  height: var(--espacio-foto-perfil-max);
  border-radius: 50%;
  border: 5px solid var(--colorTreceario);
}
.perfil-mensaje {
  width: 70%;
  font-size: 1.3vw;
  text-align: center;
  background-color: var(--colorSecundario);
  border-radius: 50px;
  padding: 20px;
}

.btn-perfil-saludo:hover {
  background-color: var(--colorTreceario);
  box-shadow: 0px 15px 20px var(--colorTreceario);
  color: var(--color);
  transform: translateY(-7px);
}
@media (max-width: 800px) {
  .portada {
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .perfil {
    flex-direction: column;
  }
  .perfil-mensaje {
    font-size: 4vw;
  }
  .foto-curriculum {
    width: var(--espacio-foto-perfil-mini);
    height: var(--espacio-foto-perfil-mini);
  }
  .lenguajes {
    width: 50%;
  }
}
